In [65]:
# Setup Pandas
import pandas as pd

In [66]:
# Load data
school_data= "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [67]:
# Read data
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

In [68]:
# Combine data
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

 # District Summary

In [69]:
# Total unique schools
school_count = school_data['School ID'].count()

In [70]:
# Total number of students
student_count = school_data['size'].sum()

In [71]:
# Total budget
total_budget = school_data['budget'].sum()

In [72]:
# Average (mean) math score
average_math_score = student_data['math_score'].mean()

In [73]:
# Average (mean) reading score
average_reading_score = student_data['reading_score'].mean()

In [74]:
# Percentage of students who passed math (math scores >= 70)
passed_math = student_data.loc[student_data['math_score'] >= 70]
passed_math_percentage = len(passed_math)/ student_count * 100

In [75]:
# Percentage of students who passed reading 
passed_reading = student_data.loc[student_data['reading_score'] >= 70]
passed_reading_percentage = len(passed_reading)/ student_count * 100

In [76]:
# Percentage of students who passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

In [77]:
# District key metrics in DataFrame
district_summary =  pd.DataFrame({"Total Schools": school_count,
                                "Total Students": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": passed_math_percentage,
                                "% Passing Reading": passed_reading_percentage,
                                "% Overall Passing Rate": [overall_passing_rate]})


# Format
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [78]:
# Select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [79]:
# Total student count
per_school_counts = school_data_complete['size'].sum

In [81]:
# Total school budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [84]:
# Per capita spending
per_school_capita = per_school_budget / school_data['size'].sum()

In [87]:
# Average test scores
per_school_math = student_data['math_score'].mean()
per_school_reading = student_data['reading_score'].mean()

In [88]:
# Number of schools with math scores of 70 or higher
school_passing_math = student_data.loc[student_data['math_score'] >= 70]

In [89]:
# Number of schools with reading scores of 70 or higher
school_passing_reading = len(passed_reading)/ student_count * 100

In [90]:
# Schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [91]:
# Calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

TypeError: unsupported operand type(s) for /: 'int' and 'method'